/* =========================================================
   FOOTER
========================================================= */

/* Footer global */
.md-footer-meta__inner {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Bloc copyright complet */
.md-copyright {
    width: 100%;
    gap:5px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0.6rem 0;
    font-size: 0.72rem;
    text-align: left !important;
}

/* Ton texte */
.md-copyright > div:first-child {
    text-align: left !important;
    margin-right: auto !important;
}

/* Made with Material */
.md-copyright__highlight {
    display: inline-block !important;
    margin-left: 0 !important;
    text-align: left !important;
    white-space: nowrap;
    opacity: 0.7;
}


/* Links */

.md-copyright a {

    color: inherit;

    text-decoration: none;
}

.md-copyright a:hover {

    text-decoration: underline;
}


/* Heart */

.md-copyright .heart {

    display: inline-block !important;

    animation:
        heartbeat 1.5s infinite,
        rainbow 4s linear infinite;
}


/* Heartbeat */

@keyframes heartbeat {

    0%   { transform: scale(1); }

    15%  { transform: scale(1.05); }

    30%  { transform: scale(0.95); }

    45%  { transform: scale(1.12); }

    60%  { transform: scale(1); }
}


/* Colors */

@keyframes rainbow {

    0%   { color: #ff7b72; }

    50%  { color: #d2a8ff; }

    100% { color: #79c0ff; }
}